.App {
  max-width: 360px;
  margin: 0 auto;
  height: 100vh;
  color: #202020;
}

.custom-shape-divider-bottom-1642158847 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background: linear-gradient(333deg, #ffffff, #f6fdfe, #eefafd, #e5f8fc, #ddf5fb, #d4f3fa, #ccf0f9, #c3eef8);
  z-index: -1;
}

.custom-shape-divider-bottom-1642158847 svg {
  position: relative;
  display: block;
  width: calc(171% + 1.3px);
  height: 900px;
  left: -150px;
  width: 1000px;
}

.custom-shape-divider-bottom-1642158847 .shape-fill {
  fill: #FFFFFF;
}